<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta author="" conten="Jugendhackt Köln">
    <title>Wann-soll-ich-lueften?</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>

  <body>

    <div class="center">
        <p>
            <h1 class="display-1"><b>Wann soll ich lüften?</b></h1> 
        </p>
    </div>

    <div class="row">
        <div id="map" class="col-sm-6">
            
        </div>
        <div class="col-sm-6">
            <canvas id="canvas_diagramm" style="border:1px solid #E65858;border-radius:4px;"></canvas>
        </div>
    </div>

    <div>
        <p>Luftqualität: </p>
        <p>Sollte ich jetzt lüften: </p>
    </div>

    <!--{'AQI': 20, 'Air Quality': 'Gut', 'Station Name': 'Köln Turiner Straße, Germany', 'Station ID': 6099, 'Last Update': '2022-11-05 13:00:00', 'PM2.5': 30, 'PM10': 20-->

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly"defer></script>
    <script src="script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

  </body>

</html>