<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <meta author="" conten="Jugendhackt Köln">
    <title>Wann-soll-ich-lueften?</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>

  <body>

    <div  class="center">
      <center> 
      <h1 class="display-1"><b>Wann soll ich lüften?</b></h1>
      
      <p class="display-3"><b>

        {% if scale >= 8 %}
          <span class="badge text-bg-success">{{index}}</span>
        {% elif scale <= 2 %}
          <span class="badge text-bg-danger">{{index}}</span>
        {% else %}
          <span class="badge text-bg-warning">{{index}}</span>
        {% endif %}
      
      </b></p>
      </center>  
    </div>
    <hr>

    <center>
    <div>
        <p class="display-3">Luftqualität: <b>{{ scale }}/{{ max_scale }}</b></p>
        <p class="display-5">Stationsname: <b>{{ Stationsname }}</b></p>
        <p class="display-5">Letztes Update: <b>{{ Updatestatus }}</b></p>
        <br>
        <p class="display-3">Vorhersage (Morgen):</p>
      <p class="display-5">Wir sagen: Morgen ist ein <b>{{ forecast_day1_index }}</b> um zu lüften</p>
        <p class="display-5">Durchnitt der PM10 (Feinstaub) Belastung: <b>{{ forecast_1_avg_pm10 }}</b></p>
        <p class="display-5">Durchnitt der PM2.5 (Feinstaub) Belastung: <b>{{ forecast_1_avg_pm25 }}</b></p>
      <br>
      <br>
      <br>


      <p class="display-3"><b>{{ country }}</b> wurde schon:</p>
      <p class="display-5"><b>{{ requests }}</b>. Mal gesucht!</p>



    </div>
      <button class="btn btn-success" onclick="window.location.href='/';">Zurück</button>
    </center>

    <center>
      <br>
      {% if scale >= 8 %}
        <img src="https://mood.alpaka.space/static/alpaka/alpaka-sparkles.gif" style="width: 23%; height: auto" alt="Alpaka Sparkles" />
      {% elif scale <= 2 %}
        <img src="https://mood.alpaka.space/static/alpaka/alpaka-tired.gif" style="width: 23%; height: auto" alt="Alpaka Tired" />
      {% else %}
        <img src="https://mood.alpaka.space/static/alpaka/alpaka-flushed.gif" style="width: 23%; height: auto" alt="Alpaka Flushed" />
      {% endif %}
    </center>

    <footer class="bg-light text-center text-lg-start fixed-bottom" style="width: 100%">

      <!--<div class="container p-4">
        <div class="row">
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">Unser Projekt</h5>
  
            <p>
              Das Projekt "Wann soll ich lüften?" ist im Rahmen von Jugenhackt Köln Hybrid 2022 entstanden.
              <br>
              Die Teilnehmenden: Luis, Leandro, Julie
              <br>
              Die Mentoren: Marcel, Jonas, David
            </p>
          </div>
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">Was macht unser Projekt?</h5>
  
            <p>
              Unsere Webseite gibt anhand einer eigenen Skala die Luftqualität einer Stadt an und beantwortet die Frage
              wann man anhand von Werten wie z.B. der Feinstaubbelastung lüften sollte.
              Man gibt einfach eine Stadt ein und erhält alle, unserer Meinung nach wichtigen, Werte.
              <br>
              Viel Spaß! ;)
            </p>
          </div>
        </div>
      </div>-->
  
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Version 2.2 Public Beta 2
        ;
        <a class="text-dark" href="https://github.com/Jugendhackt/wann-soll-ich-lueften.de">Quellcode-Github</a>
        ;
        <a class="text-dark" href="https://jugendhackt.org/impressum/">Impressum-Jugendhackt</a>
        ; Alpaca Emoji desigend by Michelle Posmyk, Animation by frej CC-BY 4.0
      </div>
    </footer>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly"defer></script>
    <script src="script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

  </body>

</html>