<!DOCTYPE html>
<html>

<head>
      <style>
    body{
    background: linear-gradient(to top, #28a745, #78d4e4);
}
  </style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.5">
  <meta author="" content="Jugendhackt Köln">
  <title>Wann-soll-ich-lueften?</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <meta name="google-site-verification" content="YG_GTfMm5JdGepEug_T1iF4PLmNqKv9BmrgQUqjWU7g" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/themes/prism.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/prism.min.js"></script>
</head>

<body>

  <div class="center">
    <center>
      <h1 class="display-1"><b>Wann soll ich lüften.de API (Open Data)</b></h1>
        <h1 class="display-6"><b>Dokumentation</b></h1>
    </center>
  </div>
  <button class="btn btn-success" onclick="window.location.href='/';">Zurück</button>
  <div>
      <p class="display-6">
          <b>Überblick:</b>
      </p>
      <p class="display-7">
          Die <b>Wann-soll-ich-lüften.de API</b> ermöglicht es ihnen einfach, Informationen über Luftdaten zu erhalten. Dabei macht unsere API in einigen Aspekten etwas anders.
          Sie brauchen keinen Key zur Abfrage oder müssen eine Stations-Nummer eingeben, um Daten zu bekommen. Sie bekommen mit der API alle Daten, die wir haben. Dazu bekommen
          sie noch Daten aus unserer Skala, die wir entwickelt haben und die es so nicht woanders gibt. Die API eignet sich für Developer die schnell, kostenlos und viele Daten
          über Luftdaten haben wollen. Unsere Daten sind Open Data und können weiterverbreitet und weiterverwendet werden.
      </p>
      <p class="display-6">
          <b>Dokumentation:</b>
      </p>
      <p class="display-7">
          Für eine Anfrage an unseren Server rufen sie diese URL auf: <b>https://wann-soll-ich-lüften.de/api</b>
          Um dem Server mitzuteilen welche Daten man haben will, muss man diese übergeben. Dies kann man einfach in die URL einfügen, indem man am Ende der URL (Oben) dieses Stück hinzufügt: <b>"?city=CITY HERE" </b>.
          Die ganze URL sieht dann so aus: <b>"https://wann-soll-ich-lüften.de/api?city=CITY HERE".</b> Hier ist ein Beispiel für die API die mit der URL: "https://wann-soll-ich-lüften.de/api?city=Köln" aufgerufen wurde:

          <pre>
          <code class="language-json">
}
  "Average AQI Germany": 19.833333333333332,
  "Average NO2 Germany": 9.345454545454546,
  "Average PM25 Germany": 12.285714285714286,
  "Average Pm10 Germany": 7.333333333333333,
  "Copyright": "(C)2022-2023 Wann-soll-ich-lueften.de; api.waqi.info",
  "Data from": "api.waqi.info",
  "Forecast Date": "2023-01-15",
  "Forecast PM10": 18,
  "Forecast PM2.5": 9,
  "Last Update": "2023-01-14 20:00:00",
  "Max Scale Points": 10,
  "NO2": 13.3,
  "PM10": 10,
  "PM2.5": 6,
  "Points reached": 6,
  "Station Id": 6099,
  "Station Name": "K\u00f6ln Turiner Stra\u00dfe, Germany",
  "Used API": "wann-soll-ich-lueften.de",
  "Ventilate? Forecast Index": "Kein Guter Tag",
  "Ventilate? Index": "Wenn du es eilig hast"
}
          </code>
          </pre>
      Hier ist ein Beispiel wie eine Einbindung der API in der Programmiersprache "Python" geschrieben wurde:
       <pre>
          <code class="language-python">
import requests
import json

city = input("Input a City: ")
URL = f"https://wann-soll-ich-lüften.de/api?city={city}"

response = requests.get(URL)
response_data = response.text
get_data = json.loads(response_data)

stationname = get_data["Station Name"]
stationid = get_data["Station Id"]
No2 = get_data["NO2"]
PM10 = get_data["PM10"]
PM25 = get_data["PM2.5"]
Pointsreached = get_data["Points reached"]
ventilate1 = get_data["Ventilate? Forecast Index"]
ventilate2 = get_data["Ventilate? Index"]

print(f"""
In der Station {stationname} mit der Id {stationid}
kann man {ventilate2} lüften. Die Werte sind {No2} No2, {PM10} PM10 und {PM25} PM25. Es wurden {Pointsreached} Punkte
erreicht! """)
          </code>
       </pre>
      Bei der Eingabe von "Köln" gibt das Programm die Daten aus:
      <pre>
          <code class="language-text">
Input a City: Köln

In der Station Köln Turiner Straße, Germany mit der Id 6099
kann man Wenn du es eilig hast lüften. Die Werte sind 13.3 No2, 10 PM10 und 6 PM25. Es wurden 6 Punkte
erreicht!

Process finished with exit code 0
          </code>
      </pre>
      </p>


  </div>
<footer class="bg-light text-center text-lg-start fixed-bottom" style="width: 100%">


    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Version 2.5.5 | 16-05-23
      ;
      © 2022-2023 <a class="text-dark" href="https://netcast-nlc.netlify.app">NetCast NLC</a> und <a class="text-dark" href="https://jugendhackt.org">Jugend-Hackt</a>
      ;
      <a class="text-dark" href="/doc-api">Unsere API</a>
      ;
      <a class="text-dark" href="https://github.com/Jugendhackt/wann-soll-ich-lueften.de">Quellcode-Github</a>
      ;
      <a class="text-dark" href="https://jugendhackt.org/impressum/">Impressum-Jugend-Hackt</a>
      ; Alpaca Emoji desigend by Michelle Posmyk CC-BY 4.0;
      <a class="text-dark" href="https://aqicn.org/">Luftdaten</a>
      ; AQICN-API (Open Data)
    </div>
  </footer>



  <script src="script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
    integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
</body>
</html>