<!DOCTYPE html>
<html>

<head>
    <style>
    body {
      background: linear-gradient(to top, #28a745, #78d4e4);
      height: 100%;
      padding-bottom: 400px;
    }
  </style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta author="" content="Jugendhackt Köln">
  <title>Wann-soll-ich-lueften?</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <meta name="google-site-verification" content="YG_GTfMm5JdGepEug_T1iF4PLmNqKv9BmrgQUqjWU7g" />
</head>

<body>

  <div class="center">
    <center>
      <h1 class="display-1"><b>Wann soll ich lüften?</b></h1>
      <p class="fs-5 text-muted">Mehr zu unserem Projekt:</p>
    </center>
  </div>

  <center>
    <div>
      <p class="fs-4">
        Unsere Webseite gibt anhand einer eigenen Skala und mehr als 11.000 Stationen auf der Welt die Luftqualität einer Stadt an und beantwortet die Frage, <br>
        wann man anhand von Werten wie z.B. der Feinstaubbelastung lüften sollte. Die Skala besteht aus 10, 8 oder 6 <br>
        Punkten je nachdem, wie viele Daten wir von der Station haben. Man gibt einfach eine Stadt ein und erhält alle, unserer Meinung nach wichtigen, Werte. <br>
      </p>
      <p class="fs-4">
        Viel Spaß! ;)
      </p>
      <button class="btn btn-success mt-4" onclick="window.location.href='/';">Zurück</button>
    </div>
  </center>

  <footer class="bg-light text-center text-lg-start fixed-bottom" style="width: 100%">

    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Unser Projekt</h5>

          <p>
            Das Projekt "Wann soll ich lüften?" ist im Rahmen von Jugend-Hackt Köln Hybrid November 2022 entstanden.
            <br>
            Die Teilnehmenden: Luis Schuimer, Leandro, Julie
            <br>
            Die Mentoren: Marcel, Jonas, David
            <br>
            Andere Mitbeteiligung und Bugfixes: SehrGuterCode (19.03.23,  16.05.23)
          </p>
        </div>
      </div>
    </div>
  </footer>
