<table id="my_table" class="red_table">
    <thead>
        <tr>
            <th>Stadt</th>
            <th>Aufgerufen (Mal)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Stuttgart</td>
            <td>263</td>
        </tr>
        <tr>
            <td>Stuttgart</td>
            <td>262</td>
        </tr>
        <tr>
            <td>Stuttgart</td>
            <td>261</td>
        </tr>
        <tr>
            <td>Stuttgart</td>
            <td>260</td>
        </tr>
        <tr>
            <td>Berlin</td>
            <td>217</td>
        </tr>
        <tr>
            <td>Koeln</td>
            <td>21</td>
        </tr>
    </tbody>
</table>