<table id="my_table" class="red_table">
    <thead>
        <tr>
            <th>Stadt</th>
            <th>Aufgerufen (Mal)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Berlin</td>
            <td>233</td>
        </tr>
        <tr>
            <td>Berlin</td>
            <td>232</td>
        </tr>
        <tr>
            <td>Berlin</td>
            <td>231</td>
        </tr>
        <tr>
            <td>Berlin</td>
            <td>230</td>
        </tr>
        <tr>
            <td>Duesseldorf</td>
            <td>226</td>
        </tr>
        <tr>
            <td>Duesseldorf</td>
            <td>225</td>
        </tr>
        <tr>
            <td>Duesseldorf</td>
            <td>224</td>
        </tr>
        <tr>
            <td>Duesseldorf</td>
            <td>223</td>
        </tr>
        <tr>
            <td>Muenchen</td>
            <td>217</td>
        </tr>
        <tr>
            <td>Bremen</td>
            <td>217</td>
        </tr>
    </tbody>
</table>