<table id="my_table" class="red_table">
    <thead>
        <tr>
            <th>Stadt</th>
            <th>Aufgerufen (Mal)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Wiesbaden</td>
            <td>8</td>
        </tr>
        <tr>
            <td>Stuttgart</td>
            <td>8</td>
        </tr>
        <tr>
            <td>Potsdam</td>
            <td>8</td>
        </tr>
        <tr>
            <td>Muenchen</td>
            <td>8</td>
        </tr>
        <tr>
            <td>Mainz</td>
            <td>8</td>
        </tr>
        <tr>
            <td>Kiel</td>
            <td>8</td>
        </tr>
        <tr>
            <td>Hannover</td>
            <td>8</td>
        </tr>
        <tr>
            <td>Hamburg</td>
            <td>8</td>
        </tr>
        <tr>
            <td>Duesseldorf</td>
            <td>8</td>
        </tr>
        <tr>
            <td>Dresden</td>
            <td>8</td>
        </tr>
    </tbody>
</table>